:root{
  
  line-height: 1.5;
  font-weight: 400;
    color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.ttf");
}

body{
  font-family: "Roboto",sans-serif;
  background-color: light-dark(#fbf8ef, #040d12);
  color: light-dark(#1a1a1d, #faf7f0) !important;
}

.blur{
  content:'';
  box-shadow: 0 0 1000px 72px light-dark( #A0C878,#A0C878);
  top: 0;
  left: 0;
  padding: 0; 
  position: absolute;
  border-radius: 100%;
  filter: blur(24px);
  z-index: -1;
}
.navbar-dark .navbar-nav .nav-link {
 color: light-dark( #040d12,#fbf8ef);
}
.navbar-toggler{
  background-color: light-dark( #A0C878,#DDEB9D);
  color: light-dark( #040d12,#fbf8ef);
}
.nav-link{
  font-size: 1.4rem;
}
header {
  background-image: url("blackmotherboard.jpg");
  background-size: cover;
  background-attachment:fixed;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #faf7f0;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  
}
header h1{
    background-color: #776f5c94;
    padding:20px;
    border-radius: 12px;
  
}
@media (prefers-color-scheme: dark) {
 header {
    background-image: url("/white.png");
  }
}
@media screen and (max-width: 768px) {
  header {
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 1000px;
   
   
  }
  
}
.features{
  font-size: 1.2rem;
}
#pcpic{
  width: 580px;
}

@media screen and (max-width : 852px) {
  .features{
    font-size: 1.3rem;
  }
   #pcpic{
 width: 360px;
  }
}


.flip-card {
  width: 18rem;
  height: 580px;
  perspective: 1000px;
  margin: auto;
  color: #040d12;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.flip-card-front {
  background-color: light-dark( #A0C878,#DDEB9D);
}

.flip-card-back {
  background-color:light-dark( #A0C878,#DDEB9D);
  transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .flip-card {
    width: 75%;
    height: 450px;
  }
  .flip-card-inner {
    transition: transform 0.4s;
  }
  .flip-card-front,
  .flip-card-back {
   font-size: 1.4rem;
  }
  
}


.form-control{
   color: #040d12;
  border-radius: 12px;
  padding: 5px;
width: 280px;
}


form .btn{
  background-color: light-dark( #A0C878,#DDEB9D);
  margin: 3px;
  gap: 1px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}


#footer ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 864px) {
 #footer{
   flex-direction: column!important;
   align-items:center!important;
  }
  
}
.footerContact li{
  margin: 0;
padding: 5px;
  font-size: 1.3rem;
}
